.banner {
  &__inner {
    border-bottom: 4px solid var(--dark-color);
    padding-bottom: 97px;

    @include mobile {
      padding-bottom: 52px;
    }
  }

  &__block {
    background-color: var(--brown-color);
    display: flex;
  }

  &__image {
    padding: 0 36px;
    margin: 139px auto;
  }
}
