.btn {
  display: inline-block;
  line-height: 1;
  border: 2px solid var(--dark-color);
  border-radius: 56px;
  color: inherit;
  font-weight: 500;
  padding: 16px 33px 18px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
    transform 0.4s ease-in-out;

  @include hover {
    background-color: var(--dark-color);
    color: var(--background-color);
  }

  &:active {
    transform: translateY(2px);
  }

  @include mobile {
    width: 100%;
    text-align: center;
  }
}
