.container.show {
  box-shadow: none;
  min-width: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--dark-color);
  font-size: 12px;

  & > main {
    background-color: var(--background-color);
    border: 2px solid var(--dark-color);
  }

  & .calendar {
    padding: 20px;

    & .header {
      column-gap: 8px;
      padding: 2px 4px;
      margin-bottom: 16px;
    }

    & .month-name {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.42857;

      & span {
        font-weight: 700;
        margin-right: 5px;
        text-transform: capitalize;
      }
    }

    & button {
      border: none;
      color: var(--accent-color);
      padding: 6px;

      @include hover {
        background-color: transparent;
      }

      & svg {
        width: 100%;
      }
    }

    & .daynames-row {
      column-gap: 0;
      border-bottom: 2px solid var(--dark-color);
      margin-bottom: 8px;
    }

    & .dayname {
      color: var(--dark-color);
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33333;
      text-transform: capitalize;
      padding: 4px 8px;
    }

    & .days-grid {
      row-gap: 14px;
    }

    & .day {
      font-family: var(--second-family);
      border: none;
      border-radius: 2px;
      --day-height: 28px;
      --day-width: 61px;
      line-height: 1.33333;
      transition: color 0.4s ease-in-out;

      @include mobile {
        --day-height: 17px;
        --day-width: 38px;
      }

      @include hover {
        border: none;
        color: var(--accent-color) !important;
      }

      &.today {
        color: var(--dark-color);
        position: relative;

        &::after {
          content: " ";
          width: 24px;
          height: 24px;
          background-color: transparent;
          border: 1px solid var(--dark-color);
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
          z-index: 9;
        }
      }

      &.selected {
        background-color: inherit;
        color: inherit;
        position: relative;

        &::after {
          content: " ";
          width: 24px;
          height: 24px;
          background-color: transparent;
          border: 1px solid var(--accent-color);
          border-radius: 100%;
          position: absolute;
          z-index: 10;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
        }
      }
    }

    & > .footer {
      display: none;
    }
  }

  .news-all__date-image {
    transform: rotate(-180deg);
  }
}

.easepick-wrapper {
  z-index: 3;
}
