.news-all {
  &__top {
    margin: 55px 0;

    @include small-tablet {
      margin: 34px 0 52px;
    }

    @include mobile {
      margin: 34px 0 52px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 5px;

    @include small-tablet {
      font-size: 50px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  &__crumbs {
    line-height: 1.35;
    color: var(--gray-color);
    letter-spacing: 0.05em;

    @include mobile {
      font-size: 12px;
      line-height: 1.33333;
    }
  }

  &__filters {
    margin-bottom: 83px;
    row-gap: 20px;

    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &__calendar {
    position: relative;
    grid-column: 4 span;
  }

  &__date {
    cursor: pointer;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 2px solid var(--dark-color);
    border-radius: 2px;
    padding: 20px 26px 18px 64px;

    &::placeholder {
      line-height: 1.35;
      color: #373334;
    }

    &-image {
      position: absolute;
      top: 27px;
      right: 23px;
      transition: stroke 0.4s ease-in-out, transform 0.4s ease-in-out;
      stroke: var(--dark-color);
      z-index: 1;
    }

    &-calendar {
      position: absolute;
      top: 20px;
      left: 24px;
      z-index: 2;
    }
  }

  &__select {
    grid-column: 4 span;
    position: relative;
    height: 60px;
    z-index: 2;

    &-image {
      position: absolute;
      top: 27px;
      right: 23px;
      transition: stroke 0.4s ease-in-out, transform 0.4s ease-in-out;
      stroke: var(--dark-color);
    }
  }

  &__grid {
    margin-bottom: 85px;
    row-gap: 75px;

    @include small-tablet {
      margin-bottom: 50px;
      row-gap: 30px;
    }
  }

  &__pagination {
    align-items: center;
    padding: 70px 0;
    justify-content: center;
    gap: 32px;

    @include small-tablet {
      padding: 40px 0;
    }
  }

  &__button {
    transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;

    @include hover {
      color: var(--accent-color);
    }

    &:active {
      transform: translateY(1px);
    }

    &-active {
      border-bottom: 2px solid var(--accent-color);
    }
  }

  &__arrow-down {
  }

  &__arrow-forward {
  }

  &__numbers {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.35;
    gap: 20px;

    @include small-tablet {
      font-size: 16px;
      gap: 16px;
    }
  }
}
