.premiere {
  color: var(--light-color);
  background-color: var(--brown-color);

  &__inner {
    padding: 120px 0;

    @include mobile {
      padding: 52px 0;
    }
  }

  &__title {
    margin-bottom: 64px;

    @include mobile {
      margin-bottom: 52px;
    }
  }

  &__content {
    margin-bottom: 70px;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  &__video {
    grid-column: 6 span;

    @include big-desktop {
      grid-column: 12 span;
      margin-bottom: 40px;
    }

    @include small-tablet {
      grid-column: 4 span;
      margin-bottom: 16px;
    }
  }

  &__time {
    grid-column: 7 / 6 span;
    flex-direction: column;

    @include big-desktop {
      grid-column: 12 span;
    }

    @include small-tablet {
      grid-column: 4 span;
      flex-direction: row;
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  }

  &__block {
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid var(--light-color);

    &:first-of-type {
      border-top: 4px solid var(--light-color);
      border-bottom: 4px solid var(--light-color);

      @include small-tablet {
        border: 0;
      }
    }

    @include small-tablet {
      border: 0;
      flex-direction: column;
      flex: 0 0 100%;
      width: 100%;
      padding: 0 40px;
      align-items: flex-start;
    }
  }

  &__caption {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.125;
    flex-grow: 1;
    margin: 0;

    @include small-tablet {
      font-size: 20px;
      line-height: 1.35;
      flex-grow: 0;
    }
  }

  &__data {
    color: inherit;
    margin-right: 80px;

    @include small-tablet {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.33333;
      letter-spacing: 0.05em;
      color: var(--gray-color);
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
  &__link {
    @include small-tablet {
      display: none;
    }
  }
  &__link-img {
  }

  &__control {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 0;
    display: none;

    &#premiereForward {
      right: 0;
      left: auto;
      transform: rotate(180deg);
    }

    @include small-tablet {
      display: inline-block;
    }
  }

  &__btn {
    border-color: inherit;

    @include hover {
      background-color: var(--light-color);
      color: var(--brown-color);
    }
  }
}
