.choices {
  .choices[data-type*="select-one"] &__inner {
    background-color: transparent;
    padding: 18px 24px 18px;
    border: 2px solid var(--dark-color);
    height: 60px;
    position: relative;
    z-index: 2;
  }

  .choices[data-type*="select-one"].is-open + .news-all__date-image {
    transform: rotate(-180deg);
    background-color: red;
  }

  .choices[data-type*="select-one"].is-disabled &__inner {
    border-color: var(--gray-color);
  }

  .choices[data-type*="select-one"] &__list {
    z-index: 11;
  }

  .choices[data-type*="select-one"] &__list--single {
    padding: 0;
  }

  .choices[data-type*="select-one"] &__item {
    font-size: 16px;
    line-height: 1.35;

    &.choices__item--choice {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.35;
      padding: 8px 24px;
      transition: color 0.4s ease-in-out;

      &:first-of-type {
        margin-top: 12px;
      }

      &:last-of-type {
        margin-bottom: 16px;
      }
    }

    &.choices__item--choice.choices__item--disabled {
      color: var(--gray-color) !important;
    }

    &.choices__item--choice.is-highlighted {
      color: var(--accent-color);
    }
  }

  .choices[data-type*="select-one"].is-disabled &__item {
    color: var(--gray-color);
  }

  .choices[data-type*="select-one"] &__list--dropdown {
    background-color: var(--background-color);
    border: 2px solid var(--dark-color);
    padding: 0;
  }
}

.choices[data-type*="select-one"]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: none;
  border-color: transparent;
  border-width: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0;
  pointer-events: none;
}

div#choices--choicesSelect-item-choice-2 {
  display: none;
}
