.way {
  &__inner {
    padding: 97px 0;

    @include mobile {
      padding: 22px 0 52px;
    }
  }

  &__top {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 64px;

    @include mobile {
      margin-bottom: 52px;
    }
  }

  &__control {
    display: flex;
    gap: 20px;

    @include mobile {
      display: none;
    }
  }

  &__row {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 85px;

    @include mobile {
      justify-content: center;
      margin-bottom: 52px;
    }

    & .new {
      height: 100%;
      width: 468px;

      @include mobile {
        width: 100%;
      }
    }
  }

  &__slider {
    transition: transform 0.3s ease-in-out;
    user-select: none;
  }

  &__block {
    flex: 0 0 33.333%;
    padding: 0 25px;
    box-sizing: border-box;

    @include mobile {
      flex: 0 0 auto;
      width: 100%;
      padding: 0 5px;
    }
  }

  &__btn {
    border: 2px solid var(--dark-color);
    border-radius: 100%;
    padding: 22px 27px;
    transition: background-color 0.4s ease-in-out;

    & > svg {
      transition: stroke 0.4s ease-in-out;
      stroke: var(--dark-color);
    }

    @include hover {
      background-color: var(--dark-color);

      svg {
        stroke: var(--background-color);
      }
    }
  }
}
