footer.footer
  .container
    .footer__top.flex
      p.footer__sub Подписывайтесь на нас:
      ul.list-reset.social.flex
        li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/youtube.svg", alt="YouTube")
        li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/facebook.svg", alt="Facebook")
        li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/vk.svg", alt="VK")
        li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/class.svg", alt="Classmates")
        li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/instagram.svg", alt="Instagram")
    .footer__bottom.flex
      p.footer__text &copy; 2021 «Златоустовское телевидение» #[br] Политика конфиденциальности
      a.footer__xpage(href="https://www.xpage.ru/", target="_blank"): img.footer__xpage-link(src="img/svg/xpage.svg", alt="XPAGE")
