header.header
  .container
    .header__inner
      .header__top.flex
        a.header__btn.btn(href="#") Предложить новость
        button.btn-reset.burger(aria-label="Открыть меню", aria-expanded="false", data-burger)
          span.burger__line
        a.logo.header__logo(href="index.html"): img.logo__image(src="img/svg/logo.svg", width="214px", height="48px", alt="Златоустовское телевидение")
        .header__speaker
          a.header__speaker(href="#"): img.header__speaker-image(src="img/svg/speaker.svg", width="20px", height="20px", alt="Златоустовское телевидение")
        .header__row
          a.header__number(href="tel:+73513651711") 8&nbsp(351)&nbsp365-17-11
          button.header__search.btn-reset
            svg.header__search-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 18 18", width="18px", height="18px"): use(xlink:href="img/svg/search.svg#search")
      .header__bottom.flex
        nav.nav(data-menu)
          ul.list-reset.nav-list.flex
            li.nav__item: a.nav__link(href="news.html") Новости
            li.nav__item: a.nav__link(href="tv_projects.html") Телепроекты
            li.nav__item: a.nav__link(href="advert.html") Реклама
            li.nav__item.dropdown
              a.nav__link.nav__link-toggle
                span Онлайн
                svg.nav__link-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="11", height="7", viewBox="0 0 11 7"): use(xlink:href="img/svg/arrow-nav.svg#arrowNav")
              ul.list-reset.nav-sublist.flex
                li.nav__item: a.nav__link(href="news.html") Новости
                li.nav__item: a.nav__link(href="tv_projects.html") Телепроекты
                li.nav__item: a.nav__link(href="advert.html") Реклама
            li.nav__item: a.nav__link(href="guide.html") Программа передач
            li.nav__item.dropdown
              a.nav__link.nav__link-toggle
                span Еще
                svg.nav__link-image(width="11", height="7", viewBox="0 0 11 7", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink"): use(xlink:href="img/svg/arrow-nav.svg#arrowNav")
              ul.list-reset.nav-sublist.flex
                li.nav__item: a.nav__link(href="news.html") Новости
                li.nav__item: a.nav__link(href="tv_projects.html") Телепроекты
                li.nav__item: a.nav__link(href="advert.html") Реклама
          .nav__contacts
              ul.list-reset.social.flex
                li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/youtube.svg", alt="YouTube")
                li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/facebook.svg", alt="Facebook")
                li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/vk.svg", alt="VK")
                li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/class.svg", alt="Classmates")
                li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/instagram.svg", alt="Instagram")
              a.header__number(href="tel:+73513651711") 8&nbsp(351)&nbsp365-17-11
        .header__sub.flex
          p.header__text Подписывайтесь на нас:
          ul.list-reset.social.flex
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/youtube.svg", alt="YouTube")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/facebook.svg", alt="Facebook")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/vk.svg", alt="VK")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/class.svg", alt="Classmates")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/instagram.svg", alt="Instagram")
