section.hero
  .container
    .hero__inner.flex
      img.hero__image(src="img/hero.jpg", alt="Биотлонист")
      .hero__descr
        span.subtitle.hero__subtitle Общество
        h1.hero__title Гонка сильнейших. На&nbsp;стадионе имени Светланы Ишмуратовой стартовал Чемпионат по биатлону
        a.btn(href="#") Читать
      a.btn.hero__btn-mobile(href="#") Читать
      .hero__slider.slider
        .slider__circle
          .slider__preview#heroPreview
            img.slider__image(src='img/hero-slide1.jpg', width='125px', height='125px')
            img.slider__image(src='img/hero-slide1.jpg', width='125px', height='125px')
            img.slider__image(src='img/hero-slide1.jpg', width='125px', height='125px')
            img.slider__image(src='img/hero-slide1.jpg', width='125px', height='125px')
            img.slider__image(src='img/hero-slide1.jpg', width='125px', height='125px')
        .slider__slides#heroSlides
          .slider__slide
            span.slider__title Нацпроект
            p.slider__descr Безопасные и качественные автомобильные дороги
          .slider__slide
            span.slider__title Нацпроект
            p.slider__descr Безопасные и качественные автомобильные дороги
          .slider__slide
            span.slider__title Нацпроект
            p.slider__descr Безопасные и качественные автомобильные дороги
          .slider__slide
            span.slider__title Нацпроект
            p.slider__descr Безопасные и качественные автомобильные дороги
          .slider__slide
            span.slider__title Нацпроект
            p.slider__descr Безопасные и качественные автомобильные дороги
        .slider__buttons
          input.slider__input#heroSlide1(type="radio", name="slider", checked)
          label.slider__btn(for='heroSlide1')
          input.slider__input#heroSlide2(type="radio", name="slider")
          label.slider__btn(for='heroSlide2')
          input.slider__input#heroSlide3(type="radio", name="slider")
          label.slider__btn(for='heroSlide3')
          input.slider__input#heroSlide4(type="radio", name="slider")
          label.slider__btn(for='heroSlide4')
          input.slider__input#heroSlide5(type="radio", name="slider")
          label.slider__btn(for='heroSlide5')
        button.hero__control.btn-reset#heroBack(type="button"): svg.hero__control-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="20" height="18" viewBox="0 0 20 18"): use(xlink:href="img/svg/down-pagination.svg#backHero")
        button.hero__control.btn-reset#heroForward(type="button"): svg.hero__control-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="20" height="18" viewBox="0 0 20 18"): use(xlink:href="img/svg/forward-pagination.svg#forwardHero")

