a.new.new-row(href="single-news.html")
  img.new__image(src="img/new8.jpg", alt="Улица")
  .new__content.flex
    .new__row.flex
      span.subtitle Общество
      time.new__data(datetime="02-01-2021") 29&frasl;01&frasl;2021
    p.new__descr Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
    p.new__subdescr Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят...
  img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
