section.news-section
  .container
    .news-section__inner
      .news-section__top.flex
        h2.section__title Свежие #[br] новости
        a.btn.news-section__btn(href="news.html") Все новости
      .news-section__bottom.grid
        a.new(href="single-news.html")
          img.new__image(src="img/new1.jpg", alt="Улица")
          .new__content.flex
            .new__row.flex
              span.subtitle Коммуналка
              time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
            p.new__descr Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
        a.new(href="single-news.html")
          img.new__image(src="img/new2.jpg", alt="Улица")
          .new__content.flex
            .new__row.flex
              span.subtitle Коммуналка
              time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
            p.new__descr Ключи от медицинской помощи. «Городская больница» Златоуста получила новые спецавтомобили
          img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
        a.new(href="single-news.html")
          img.new__image(src="img/new1.jpg", alt="Улица")
          .new__content.flex
            .new__row.flex
              span.subtitle Медицина
              time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
            p.new__descr Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения
          img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
        a.new(href="single-news.html")
          img.new__image(src="img/new3.jpg", alt="Улица")
          .new__content.flex
            .new__row.flex
              span.subtitle Коммуналка
              time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
            p.new__descr На перегоне между районом машзавода и проспект Гагарина ограничили максимальную скорость до 40 километров в час
          img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
        a.new(href="single-news.html")
          img.new__image(src="img/new4.jpg", alt="Улица")
          .new__content.flex
            .new__row.flex
              span.subtitle Медицина
              time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
            p.new__descr Теплоснабжение без перебоев. Такую задачу перед всеми ответственными службами  поставил глава округа Максим Пекарский
          img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
        a.new(href="single-news.html")
          img.new__image(src="img/new3.jpg", alt="Улица")
          .new__content.flex
            .new__row.flex
              span.subtitle Коммуналка
              time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
            p.new__descr На перегоне между районом машзавода и проспект Гагарина ограничили максимальную скорость до 40 километров в час
          img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
      a.btn.news-section__btn.news-section__btn-mobile(href="news.html") Все новости

