section.news-all__grid.grid
  a.new(href="single-news.html")
    img.new__image(src="img/new9.jpg", alt="Улица")
    .new__content.flex
      .new__row.flex
        span.subtitle Медицина
        span.subtitle Общество
        time.new__data(datetime="02-01-2021") 02&frasl;02&frasl;2021
      p.new__descr Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины
    img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
  a.new(href="single-news.html")
    img.new__image(src="img/new8.jpg", alt="Улица")
    .new__content.flex
      .new__row.flex
        span.subtitle Медицина
        time.new__data(datetime="02-01-2021") 29&frasl;01&frasl;2021
      p.new__descr Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
    img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
  a.new(href="single-news.html")
    img.new__image(src="img/new10.jpg", alt="Улица")
    .new__content.flex
      .new__row.flex
        span.subtitle Коммуналка
        time.new__data(datetime="02-01-2021") 29&frasl;01&frasl;2021
      p.new__descr Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты
    img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
  a.new(href="single-news.html")
    img.new__image(src="img/new11.jpg", alt="Улица")
    .new__content.flex
      .new__row.flex
        span.subtitle Политика
        time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
      p.new__descr В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов
    img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
  a.new(href="single-news.html")
    img.new__image(src="img/new12.jpg", alt="Улица")
    .new__content.flex
      .new__row.flex
        span.subtitle Коммуналка
        time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
      p.new__descr В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку
    img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
  a.new(href="single-news.html")
    img.new__image(src="img/new13.jpg", alt="Улица")
    .new__content.flex
      .new__row.flex
        span.subtitle Общество
        time.new__data(datetime="02-01-2021") 02&frasl;01&frasl;2021
      p.new__descr ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год
    img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
