.news-all__pagination.flex
  button.btn-reset.news-all__button(type="button"): img.news-all__arrow-down(src="img/svg/down-pagination.svg", alt="Стрелочка назад")
  .news-all__numbers.flex
    button.btn-reset.news-all__button.news-all__button-active(type="button") 1
    button.btn-reset.news-all__button(type="button") 2
    button.btn-reset.news-all__button(type="button") 3
    button.btn-reset.news-all__button(type="button") 4
    button.btn-reset.news-all__button(type="button") ...
    button.btn-reset.news-all__button(type="button") 123
  button.btn-reset(type="button"): img.news-all__arrow-forward(src="img/svg/forward-pagination.svg", alt="Стрелочка вперед")
