section.news-all__filters.grid
    .news-all__calendar
      svg.news-all__date-calendar(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="20", height="20", viewBox="0 0 20 20"): use(xlink:href="img/svg/calendar.svg#calendar")
      input.news-all__date#datePicker(name="date", type='text', placeholder='02/02/2021', autocomplete='off')
      svg.news-all__date-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="11", height="7", viewBox="0 0 11 7"): use(xlink:href="img/svg/arrow-nav.svg#arrowNav")
    .news-all__select
      select#choicesSelect(name="Рубрика")
        option(value="Выбор", disabled, selected) Выбрать рубрику
        option(value="Медицина",disabled) Медицина
        option(value="Коммуналка") Коммуналка
        option(value="Политика") Политика
        option(value="Спорт") Спорт
        option(value="Вектор развития") Вектор развития
      svg.news-all__select-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="11", height="7", viewBox="0 0 11 7"): use(xlink:href="img/svg/arrow-nav.svg#arrowNav")
