.container.grid
  .single-news__inner
    section.single-news__sample
      .single-news__row
          span.subtitle Медицина
          time.new__data(datetime="29-01-2021") 29&frasl;01&frasl;2021
      p: strong Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят в профильный режим. Приказ Министерство здравоохранения Челябинской области выпустило 27 января.
      p &nbsp;
      p Напомним, перепрофилировать родильный дом решили в связи с ежедневным большим приростом златоустовцев, заболевших ковид-19.  За это время лечение на госпитальной базе прошли свыше 1000 пациентов.
      p &nbsp;
      p &nbsp;
      .single-news__video.video
          video.video__block(src="https://cdn.xpage.ru/local/templates/xpage2023/layout/dist/video/career/video-block/xpage20.mp4?171160355032775266", width="986", height="555")
          button.video__btn.btn-reset: img.video__btn-image(src="img/svg/play-video.svg", alt="Play", width="135", height="135")
      p &nbsp;
      p &nbsp;
      p: strong Александр Дорофеев
      small главный врач родильного дома г. Златоуста:
      p &nbsp;
      p «На сегодняшний день в МПЦ находятся 46 больных. Большая часть из них будет переведена на базу квартала Медик и меньшая часть – на базу долечивания, в район метзавода. В воскресенье к нам приезжает дезостанция для обработки всех помещений. С 1 по 7 число проводится заключительная дезинфекция всего родильного дома. С 8 числа мы начинаем принимать беременных и рожениц нашего города и горнозаводской зоны».
      p &nbsp;
      p &nbsp;
      hr
      p &nbsp;
      p &nbsp;
      p Подготовка к возвращению профильной деятельности больниц проводится тщательным образом. Это полная дезинфекция помещений, забор ряда лабораторных анализов. И только после разрешения всех инстанций медицинское учреждение поступает к работе. Златоуст — не единственный город, где в связи со стабилизацией обстановки с коронавирусной инфекцией медицинские объекты возвращаются к плановому приёму пациентов. Решение по сокращению коечных мест для больных ковидом принимается оперативным штабом по борьбе с коронавирусной инфекцией при Правительстве Челябинской области. Оставшиеся ковид-базы перейдут в прежний режим работы при условии улучшения ситуации.
      .single-news__bottom
        .single-news__author
          h4 Автор материала
          p: strong Иван Анатольев
        .single-news__tags
          h4 Теги
          span Роддом  &frasl;  Вакцинацияя  &frasl;  Коронавирус
        .single-news__share
          h4 Поделиться
          ul.list-reset.social.flex
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/youtube.svg", alt="YouTube")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/facebook.svg", alt="Facebook")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/vk.svg", alt="VK")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/class.svg", alt="Classmates")
            li.social__item: a.social__link(href="#", target="_blank"): img.social__img(src="img/svg/instagram.svg", alt="Instagram")
