section.single-news__top.pug
  .container
      h1.single-news__title Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля
      span.single-news__crumbs Главная&nbsp;&frasl;&nbsp;Новости&nbsp;&frasl;&nbsp;Медицина

