section.way
  .container
    .way__inner
      .way__top.flex
        h2.section__title Вектор #[br] развития
        .way__control
          button.way__btn.btn-reset#backBtn(type="button"): svg.header__search-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="11" height="18" viewBox="0 0 11 18"): use(xlink:href="img/svg/back.svg#back")
          button.way__btn.btn-reset#forwardBtn(type="button"): svg.header__search-image(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink",width="11" height="18" viewBox="0 0 11 18"): use(xlink:href="img/svg/forward.svg#forward")
      .way__row
        .way__slider.flex
          .way__block
            a.new(href="single-news.html")
              img.new__image(src="img/new5.jpg", alt="Улица")
              .new__content.flex
                .new__row.flex
                  span.subtitle 19&frasl;01&frasl;2021
                p.new__descr Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
              img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
          .way__block
            a.new(href="single-news.html")
              img.new__image(src="img/new6.jpg", alt="Улица")
              .new__content.flex
                .new__row.flex
                  span.subtitle 15&frasl;01&frasl;2021
                p.new__descr Условия для воспитания и образования в Златоусте – одно из приоритетных направлений
              img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
          .way__block
            a.new(href="single-news.html")
              img.new__image(src="img/new7.jpg", alt="Улица")
              .new__content.flex
                .new__row.flex
                  span.subtitle 24&frasl;12&frasl;2020
                p.new__descr Реализовали давно задуманные планы. На златоустовском «Заводе «Стройтехника» открылся ещё один производственный корпус
              img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
          .way__block
            a.new(href="single-news.html")
              img.new__image(src="img/new5.jpg", alt="Улица")
              .new__content.flex
                .new__row.flex
                  span.subtitle 19&frasl;01&frasl;2021
                p.new__descr Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным
              img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
          .way__block
            a.new(href="single-news.html")
              img.new__image(src="img/new6.jpg", alt="Улица")
              .new__content.flex
                .new__row.flex
                  span.subtitle 15&frasl;01&frasl;2021
                p.new__descr Условия для воспитания и образования в Златоусте – одно из приоритетных направлений
              img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
          .way__block
            a.new(href="single-news.html")
              img.new__image(src="img/new7.jpg", alt="Улица")
              .new__content.flex
                .new__row.flex
                  span.subtitle 24&frasl;12&frasl;2020
                p.new__descr Реализовали давно задуманные планы. На златоустовском «Заводе «Стройтехника» открылся ещё один производственный корпус
              img.new__button(src="img/svg/arrow.svg", alt="Стрелочка")
      a.btn(href="news.html") Больше новостей
