doctype html
html.page(lang='ru')
  include partials/head.pug
    title="Все новости | Златоустовское телевидение"
  body.page__body
    .site__container
      include partials/header.pug
      main.main
        .container
          include partials/news-all__top.pug
          include partials/news-all__filters.pug
          include partials/news-all__grid.pug
          include partials/news-all__single-news.pug
          include partials/news-all__pagination.pug
      .wrapper-light
        include partials/footer.pug
