html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  color: var(--dark-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.wrapper-light {
  background-color: var(--light-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.section {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 0.9;

    @include tablet {
      font-size: 60px;
      line-height: 1.1;
    }

    @include mobile {
      font-size: 40px;
      line-height: 1;
    }
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  column-gap: var(--offset);
  grid-template-columns: repeat(12, 1fr);

  @include small-tablet {
    column-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.burger {
  @include burger;

  display: none;
  z-index: 15;
  color: var(--dark-color);
  --burger-height: 12px;
  --burger-width: 16px;

  @include small-tablet {
    display: inline-block;
  }
}
